Package: com.ongcenh.Futura
Version: 1.1.1
Section: Fonts
Maintainer: @ongcenh
Description: Phông chữ Futura cho iOS
Architecture: iphoneos-arm
Name: Futura
Author: Alexman
Depiction: https://ongcenh.github.io/Debinfo/Futura/?p=info
SileoDepiction: https://ongcenh.github.io/Debinfo/Futura/?p=info

